asgiref
bcrypt
cffi
cryptography
Django
django-filter
djangorestframework
djangorestframework-simplejwt
et-xmlfile
importlib-metadata
Markdown
openpyxl
paramiko
Pillow
psycopg2-binary
pycparser
PyJWT
PyNaCl
pytz
six
sqlparse
sshtunnel
transliterate
tzdata
XlsxWriter
zipp
